In [1]:
import pandas as pd
import numpy as np

In [2]:
data=np.random.randint(1,10,(5,3))
df=pd.DataFrame(data, columns=list('ABC'))
df

   A  B  C
0  1  3  4
1  6  2  9
2  5  8  7
3  2  1  4
4  4  5  9

In [3]:
df.to_csv("spam.csv")

In [5]:
df_load=pd.read_csv('spam.csv')
df_load

   Unnamed: 0  A  B  C
0           0  1  3  4
1           1  6  2  9
2           2  5  8  7
3           3  2  1  4
4           4  4  5  9

In [6]:
pd.read_csv('spam.csv', index_col=0)
df_load

   Unnamed: 0  A  B  C
0           0  1  3  4
1           1  6  2  9
2           2  5  8  7
3           3  2  1  4
4           4  4  5  9